@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #260975;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: #1b0655;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

nav ul li a.active,
nav ul li a:hover {
    color: #111;
    background: #fff;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }
    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked~ul {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked~ul li a {
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: cyan;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
}

.content div {
    font-size: 40px;
    font-weight: 700;
}


/* 1st page down div */

.para p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(247, 242, 242);
}

.button1 {
    color: #fafafa;
    box-shadow: 0 6px 8px rgba(0, 0, 0, .1);
    width: 180px;
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    background: rgb(180, 58, 153);
    background: linear-gradient(90deg, rgba(180, 58, 153, 1) 25%, rgba(252, 176, 69, 1) 100%);
    transition: .4s;
}

.button1:hover {
    border-radius: 20px;
}

.para1 {
    padding: 110px;
    padding-top: 130px;
    margin-top: 95px;
    margin-left: 70px;
}

.para2 img {
    height: 350px;
    width: 435px;
    margin-left: 696px;
    margin-top: -322px;
}


/* 2nd page */

.services-section {
    background-size: cover;
    padding: 60px 0;
}

.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
}

.border {
    width: 170px;
    height: 3px;
    background: #82ccdd;
    margin: 40px auto;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-box {
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.services-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid rgb(252, 253, 253);
    transform: rotate(45deg);
    margin-bottom: 30px;
    padding-top: 10px;
    transition: 0.3sec linear;
}

.services-icon i {
    line-height: 50px;
    transform: rotate(-45deg);
    font-size: 26px;
}

.services-box:hover .services-icon {
    color: rgb(117, 241, 241);
}

.service-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-desc {
    font-size: 14px;
}

@media screen and (max-width: 960px) {
    .services-box {
        max-width: 45%;
    }
}

@media screen and (max-width: 760px) {
    .services-box {
        max-width: 50%;
    }
}

@media screen and (max-width: 460px) {
    .services-box {
        max-width: 100%;
    }
}


/* roadmap */

h1 {
    color: white;
    font-weight: 700;
    margin-top: 125px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 23px;
}

p {
    text-align: center;
}


/* --- Start progress bar --- */

.process-wrapper {
    margin: auto;
    max-width: 1080px;
}

#progress-bar-container {
    position: relative;
    width: 90%;
    margin: auto;
    height: 100px;
    margin-top: 65px;
}

#progress-bar-container ul {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    z-index: 9999;
    position: absolute;
    width: 100%;
    margin-top: -40px
}

#progress-bar-container li:before {
    content: " ";
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px #aaa;
    transition: all ease 0.3s;
}

#progress-bar-container li.active:before,
#progress-bar-container li:hover:before {
    border: solid 2px #fff;
    background: linear-gradient(to right, #eb9a59 0%, #fff 100%);
}

#progress-bar-container li {
    list-style: none;
    float: left;
    width: 20%;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.2s;
    vertical-align: bottom;
    height: 60px;
    position: relative;
}

#progress-bar-container li .step-inner {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}

#progress-bar-container li.active,
#progress-bar-container li:hover {
    color: #444;
}

#progress-bar-container li:after {
    content: " ";
    display: block;
    width: 6px;
    height: 6px;
    background: #777;
    margin: auto;
    border: solid 7px #fff;
    border-radius: 50%;
    margin-top: 40px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;
}

#progress-bar-container li:hover:after {
    background: #555;
}

#progress-bar-container li.active:after {
    background: #207893;
}

#progress-bar-container #line {
    width: 80%;
    margin: auto;
    background: #eee;
    height: 6px;
    position: absolute;
    left: 10%;
    top: 57px;
    z-index: 1;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-bar-container #line-progress {
    content: " ";
    width: 3%;
    height: 100%;
    background: #207893;
    background: linear-gradient(to right, #a0dceb 0%, #f8d63c 100%);
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-content-section {
    width: 90%;
    margin: auto;
    background: linear-gradient(90deg, rgb(193, 191, 221) 25%, rgba(252, 176, 69, 1) 100%);
    border-radius: 4px;
}

#progress-content-section .section-content {
    padding: 30px 40px;
    text-align: center;
}

#progress-content-section .section-content h2 {
    font-size: 17px;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
}

#progress-content-section .section-content p {
    font-size: 16px;
    line-height: 1.8em;
    color: #777;
}

#progress-content-section .section-content {
    display: none;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode: forwards;
    transform: translateY(15px);
    opacity: 0;
}

#progress-content-section .section-content.active {
    display: block;
}

@keyframes FadeInUp {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


/*  table */


/* 
table {
    padding-top: 100px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    margin: auto;
    border: 1px solid rgb(245, 250, 243);
}

tr {
    border: 1px solid white
}

th,
td {
    text-align: left;
    padding: 20px;
    color: white;
}

.currency-title h1 {
    font-size: 40px;
    text-align: center;
    margin: 15px 0 0;
    color: #ffffff;
    padding: 30px;
}

.currency-title p {
    font-size: 16px;
    text-align: center;
    margin: 15px 0 0;
    color: #ffffff;
    padding-bottom: 50px;
} 
 */

.tb-parent-div {
    width: 100%;
    overflow-x: auto;
}

.client_table {
    border-collapse: separate;
    border-spacing: 0 10px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    margin: auto;
}

tr {
    border: 1px solid white
}

th,
td {
    text-align: left;
    padding: 20px;
    color: white;
}

.currency-title h1 {
    font-size: 40px;
    text-align: center;
    margin: 15px 0 0;
    color: #ffffff;
    padding: 30px;
}

.currency-title p {
    font-size: 16px;
    text-align: center;
    margin: 15px 0 0;
    color: #ffffff;
    padding-bottom: 50px;
}


/* team css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.team-section {
    background-color: #170949;
    min-height: 100vh;
    padding: 70px 15px 30px;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.team-section .section-title {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 70px;
}

.team-section .section-title h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-weight: 700;
}

.team-section .section-title p {
    font-size: 16px;
    text-align: center;
    margin: 15px 0 0;
    color: #ffffff;
}

.team-section .team-items {
    flex-basis: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-section .team-items .item {
    flex-basis: calc(25% - 30px);
    max-width: calc(25% - 30px);
    transition: all .5s ease;
    margin-bottom: 40px;
}

.team-section .team-items .item img {
    display: block;
    width: 100%;
    border-radius: 8px;
}

.team-section .team-items .item .inner {
    position: relative;
    z-index: 11;
    padding: 0 15px;
}

.team-section .team-items .item .inner .info {
    background-color: #eff0c1;
    text-align: center;
    padding: 20px 15px;
    border-radius: 8px;
    transition: all .5s ease;
    margin-top: -40px;
}

.team-section .team-items .item:hover .info {
    transform: translateY(-20px);
}

.team-section .team-items .item:hover {
    transform: translateY(-10px);
}

.team-section .team-items .item .inner .info h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.team-section .team-items .item .inner .info p {
    font-size: 16px;
    font-weight: 400;
    color: #c5c5c5;
    margin: 10px 0 0;
}

.team-section .team-items .item .inner .info .social-links {
    padding-top: 15px;
}

.team-section .team-items .item .inner .info .social-links a {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-color: #ffffff;
    color: #009688;
    border-radius: 50%;
    margin: 0 2px;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    transition: all .5s ease;
}

.team-section .team-items .item .inner .info .social-links a:hover {
    box-shadow: 0 0 10px #000;
}


/*responsive*/

@media(max-width: 991px) {
    .team-section .team-items .item {
        flex-basis: calc(50% - 30px);
        max-width: calc(50% - 30px);
    }
}

@media(max-width: 767px) {
    .team-section .team-items .item {
        flex-basis: calc(100%);
        max-width: calc(100%);
    }
}


/*  analystic report */

.file1 {
    color: white;
}

.button2 {
    color: #fafafa;
    box-shadow: 0 6px 8px rgba(0, 0, 0, .1);
    width: 180px;
    height: 40px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: bold;
    background: rgb(180, 58, 153);
    background: linear-gradient(90deg, rgba(180, 58, 153, 1) 25%, rgba(252, 176, 69, 1) 100%);
    transition: .4s;
}

.button2:hover {
    border-radius: 20px;
}

.file1 {
    margin-top: 190px;
    margin-left: 180px;
}

.file2 img {
    float: right;
    height: 350px;
    width: 500px;
    margin-top: -288px;
    margin-right: 280px
}


/* show case*/

.file3 {
    margin-top: 250px;
    margin-left: 200px;
    color: white;
}

.button3 {
    color: #fafafa;
    background-color: DodgerBlue;
    box-shadow: 0 6px 8px rgba(0, 0, 0, .1);
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background: rgb(180, 58, 153);
    background: linear-gradient(90deg, rgb(204, 116, 186) 25%, rgba(252, 176, 69, 1) 100%);
    transition: .4s;
}

.button3:hover {
    border-radius: 20px;
}

.file4 img {
    float: right;
    height: 530px;
    width: 300px;
    margin-top: -388px;
    margin-right: 280px
}

@media screen and (max-width: 600px) {
    .file3 {
        width: 100%;
    }
}